language: python

python:
  - "3.5"
  - "2.7"
env:
  - STUDY=MTBLS267
  - STUDY=MTBLS266
  - STUDY=MTBLS273
  - STUDY=MTBLS32
  - STUDY=MTBLS127
#  - STUDY=MTBLS289
  - STUDY=MTBLS263
  - STUDY=MTBLS87
#  - STUDY=MTBLS36 
#  - STUDY=MTBLS140
  - STUDY=MTBLS229
  - STUDY=MTBLS265
  - STUDY=MTBLS228
  - STUDY=MTBLS67
#  - STUDY=MTBLS125
#  - STUDY=MTBLS126
  - STUDY=MTBLS88
#  - STUDY=MTBLS38
  - STUDY=MTBLS137
  - STUDY=MTBLS315

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-dev 
  - sudo apt-get install -y curlftpfs
  - sudo apt-get install -y default-jre

install:
  - pip install lxml
  - pip install .

before_script:
  - mkdir example_files/metabolights
  - curlftpfs ftp.ebi.ac.uk/pub/databases/metabolights/studies/public example_files/metabolights
  - wget https://github.com/ISA-tools/ISAvalidator-ISAconverter-BIImanager/releases/download/1.6.5/ISA-validator-1.6.5.zip
  - unzip ISA-validator-1.6.5.zip
  - wget ftp://ftp.ebi.ac.uk/pub/databases/metabolights/submissionTool/ISAcreatorMetaboLights.zip
  - unzip ISAcreatorMetaboLights.zip

script:
  - mzml2isa -i example_files/metabolights/$STUDY -o out_folder/metabolights -s $STUDY
  - >
    java -cp ISA-validator-1.6.5/isatools_deps.jar
    org.isatools.isatab.manager.SimpleManager validate out_folder/metabolights/${STUDY}
    Configurations/MetaboLightsConfig20140506/

after_script:
  - fusermount -u example_files/metabolights

