sudo: false
dist: trusty
language: python

cache:
  pip: true
  directories:
    - $HOME/.config/isatools/

python:
- '2.7'
- '3.5'
- '3.6'


# cache:
#   directories:
#   - $HOME/mtbls-config

# env:
#   global:
#   - MTBLS_CONFIG_DIR=$HOME/mtbls-config
#   - FTP_URL=ftp://ftp.ebi.ac.uk/pub/databases/metabolights/studies/public
#   matrix:
#   - STUDY=MTBLS267
#   - STUDY=MTBLS266
#   - STUDY=MTBLS273
#   - STUDY=MTBLS32
#   - STUDY=MTBLS127
#   - STUDY=MTBLS289
#   - STUDY=MTBLS263
#   - STUDY=MTBLS87
#   - STUDY=MTBLS36
#   - STUDY=MTBLS140
#   - STUDY=MTBLS229
#   - STUDY=MTBLS265
#   - STUDY=MTBLS228
#   - STUDY=MTBLS67
#   - STUDY=MTBLS125
#   - STUDY=MTBLS126
#   - STUDY=MTBLS88
#   - STUDY=MTBLS38
#   - STUDY=MTBLS137
#   - STUDY=MTBLS315
#   - STUDY=MTBLS341

# matrix:
#   allow_failures:
#   - env: STUDY=MTBLS289
#   - env: STUDY=MTBLS36
#   - env: STUDY=MTBLS140
#   - env: STUDY=MTBLS125
#   - env: STUDY=MTBLS126
#   - env: STUDY=MTBLS38
#   - env: STUDY=MTBLS137
#   - env: STUDY=MTBLS341
#   fast_finish: true

before_install:
- pip install -U pip setuptools wheel

install:
- pip install .

before_script:
- pip install -U -r ci/requirements.txt

script:
- green

after_script:
- python -m codecov

notifications:
  email:
  - althonosdev@gmail.com

deploy:
- provider: pypi
  distributions: sdist bdist_wheel
  user: althonos
  skip_cleanup: true
  password:
    secure: JuI14XA+bwrg9Qe5HNDoPj6Dzi4BrNhc/Xq2cStTOeosyCIUKRgEaIkkZ0NrRZ5g9CTdArRwwjtfAzK8MlkTTt4iCVasmirnjafGCrw5vY/ELlqdBuu52RmIx2o5o0eua7dTjI6Q5rrCOBPj4/nB6JFpsTyytxhUXjdw/Wr9ZpSleS6iaWaF/smLTPOPpO6NQh/2kPWM7AErax2Bbg9MdXYTLoBCBk0Kjub93ymSXyZCjX3y1lfpldW7Nmn8ZXcU/ak408oD4EtHMC4BeNpoKju1Jl5qLhMHWIo/G2/X/B9Jdgju1C4DhcqHhumyTm9aI33ECmLMCq6vdsG3gmLl+z0Key6w1A6xekEQrWbmPvi7AmbGVeNz4V4HYVv2cyEmxwhSCIrPWiZKK4YqiJSlzsufSdcrtVYIZ5Xhvb1YXVnGAJ471+ua+ESuQHBUhQM3c3kpFyabsLAPN3eIRjAOWVFNWc/LP/5TA8VgbG3P6D/hGBOZBIyNka3Kj6Q6YOkPyrb80oiJJ229GwTvlG/FQ5by7t2une9At9TfTsKKsKkAlsFSYoCQ6gY65+hzeWrFkTssXSNZbq1MKillL+7/uaW6WwvvVYSl9XAXuaXCrCB7c5fwXem3tWnqV2R75bVaHelgIwjGd4m60DDa+xQG8oikREVuLBILNjp4fEYKrEc=
  on:
    tags: true
    repo: ISA-tools/mzml2isa
    python: '3.5'
    # condition: $STUDY == MTBLS263
