language: python

python:
  - "3.5"
  - "2.7"
env:
  - STUDY=MTBLS267
  - STUDY=MTBLS266
  - STUDY=MTBLS273
  - STUDY=MTBLS32
  - STUDY=MTBLS127
  - STUDY=MTBLS289
  - STUDY=MTBLS263
  - STUDY=MTBLS87
  - STUDY=MTBLS36
  - STUDY=MTBLS140
  - STUDY=MTBLS229
  - STUDY=MTBLS265
  - STUDY=MTBLS228
  - STUDY=MTBLS67
  - STUDY=MTBLS125
  - STUDY=MTBLS126
  - STUDY=MTBLS88
  - STUDY=MTBLS38
  - STUDY=MTBLS137
  - STUDY=MTBLS315

matrix:
  allow_failures:
    # Often timeout
    - env: STUDY=MTBLS289
    - env: STUDY=MTBLS36
    - env: STUDY=MTBLS140
    - env: STUDY=MTBLS125
    - env: STUDY=MTBLS126
    - env: STUDY=MTBLS38
    # Fail for no know reason (need to investigate)
    - env: STUDY=MTBLS273
    - env: STUDY=MTBLS137
    - env: STUDY=MTBLS228

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-dev 
  - sudo apt-get install -y curlftpfs
  - pip install isatools

install:
  - pip install lxml
  - pip install .

before_script:
  - mkdir example_files/metabolights
  - curlftpfs ftp.ebi.ac.uk/pub/databases/metabolights/studies/public example_files/metabolights


script:
  - mzml2isa -i example_files/metabolights/$STUDY -o out_folder/metabolights -s $STUDY
  - >
    python -c "from isatools import isatab; import logging,sys; sh=logging.StreamHandler(sys.stdout); 
    isatab.logger.addHandler(sh); isatab.validate2(open('out_folder/metabolights/$STUDY/i_Investigation.txt'))" 
    2>&1 /dev/null > /dev/tty | grep "CRITICAL" -c

  - if [ ! $(!!) -eq 0 ]; then exit 1; fi

after_script:
  - fusermount -u example_files/metabolights

